body {
    margin: 0%;
    font-family: 'Source Sans Pro', sans-serif;
}
.header {
    padding: 0 45px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.nav {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}
.nav a {
    color: white;
    text-decoration: none;
    display: block;
}
.nav a:hover {
    color: pink;
    transform: rotate(7deg);
    transition: all 0.3s ease-out;
}
.nav li {
    margin-left: 20px;
}
.hero {
    background-color: pink;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
}
.hero-inner {
   max-width: 800px;
}
.hero h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
    text-transform: uppercase;
    
}
.hero p {
    font-size: 1.18rem;
    line-height: 1.6;
}
.button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.8rem;
    display: inline-block;
}
.features {
    background-color: thistle;
    padding: 60px 45px;
}
.features-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
}
.feature-item {
    font-size: 1.5em;
    font-weight: normal;
}
.feature-item p {
    margin: 0;
    line-height: 1.4;
}
footer {
    text-align: center;
    padding: 20px 0;
    font-size: .9rem;
}